@font-face {
    font-family: bauhaus;
    src: url("../fonts/BauhausHeavyBT.ttf");

}

@font-face {
    font-family: roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Manrope;
    src: url("../fonts/Manrope-Regular.ttf");
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #3D087B;
}

.logo-container{
display: flex;
align-items: center;
padding: 25px;


}
.clock img{
    height: 80px;
    width: 80px;
}

.text{
    padding-left: 10px;
    color: white;
    font-family: 'bauhaus';
    font-size: 50px;
}

.time-set{
    background-color: white;
    height: 300px;
    width: 450px;
    margin-left: 340px;
    border-radius: 10px;
}

.message{
    background-color: #6a419a;
    height: 60px;
    width: 566px;
    margin-top: 10px;
    margin-left: 340px;
    border-radius: 10px;
    color: white;
    font-size: 2.24rem;
   font-family: 'bauhaus';
    text-transform: uppercase;
    padding : 10px;
    display: none;
}

.party{
    background-image: linear-gradient(to right, #6E54EC 20%, #CB52F8 , #FC5EFF , #F1A7C5 );
    height: 55px;
    width: 286px;
    margin-top: 10px;
    color: white;
    font-family: 'roboto';
    text-align: center;
    position: relative;
    margin-left: 340px;
    border-radius: 5px;
    transition: background-image 1s;
    
}

.party:hover{
    background-image: linear-gradient(to left, #6E54EC 15%, #CB52F8 , #FC5EFF , #F1A7C5 );;
}
#ptext{
    top: 10px;
    left: 55px;
    font-size: 28px;
    position: absolute;
}

section{
    position: relative;
}
.lunch-img{
    background-color: white;
    height: 550px;
    width: 650px;
    right: 320px;
    top: 0;
    position: absolute;
    border-radius: 10px;
}

.lunch-img img{
    height: 650px;
    width: 650px;
}

#ltext{
    color: #8e53f0;
    font-family: 'bauhaus';
    font-size: 38px;
    position: absolute;
    left: 30px;
    top: 15px;
    text-transform: uppercase;
}

.main-container{
    margin: auto;
    max-width: 1118px;
    margin-top: 2.8rem;
    margin-bottom: 3rem;
}
header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}



.time-container{
    margin-left: 4rem;
    
    top: 42px;
    left: 706px;
    width: 536px;
    height: 130px;
    border: 1px solid #EDEDED;
    background: #FFF;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.time{
    background: none !important;
    color: #8e53f0;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Manrope';
    margin-top: 70px;
  
}

.time-boxes{
    width: 80px;
    height: 90px;
    background-color: #f6e2ff;
    margin: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.box1{
    width: 416px;
    height: 140px;
    background: white;
    position: absolute;
    border-radius: 10px;
    opacity: 0.71;
    z-index: -1;
    top: 3rem;
}

.box2 {
    width: 379px;
    height: 130px;
    background: white;
    border-radius: 10px;
    opacity: 0.22;
    z-index: -2;
    top: 4.3rem;
    position: absolute;
}

.time-hour{
    font-size: 36px;
    text-align: center;
    color: #8A11BF;
}

.time-min{
    font-size: 36px;
    text-align: center;
    color: #8A11BF;
}

.time-sec{
    font-size: 36px;
    text-align: center;
    color: #8A11BF;
}

#time-subtext{
    font-size: 23px;
    text-align: center;
    color: #5F0089;
}

#colon{
    font-size: 40px;
    color: #8A11BF;
}

.bg-gradient{
    background-image: linear-gradient(161deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%);
    border-radius: 4px;
    opacity: 1;
    font-size: 36px;
    color: white;
}

.option-times{
    
    width: 566px;
    height: 300px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid white;
    margin-right: 1rem;
    padding: 2rem;
}

.wakeup-time {
    font-size: 1.3rem;
    color: #613693;
    padding-bottom: 0.5rem;
    font-weight: 500;
    font-family: 'Manrope';
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.line-ver{
    border-right: 2px solid #EDEDED;
    height: 50px;
    display: inline-block;
    margin-left: 15px;
}

#timestamps{
    width: 250px;
    height: 40px;
    color: #9578b7;
    border-radius: 10px;
    border: 2px solid #f3f3f3;
}

select {
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    background: url("../images/arrow.png") no-repeat right #fff;
    -webkit-appearance: none;
    background-position-x: 220px;
}


option{
    color: black;
    font-family: 'Manrope';
    border: none;

}

option:checked{
    background-color: #DDF5FF;
    color: blue;
}

option:default{
    border: 5px solid black;
}
option:hover{
    color: #DDF5FF;

}


@media screen and (min-width:320px) and (max-width:767px) {
    
    
    .main-container{
       margin: 0;
    }

    header{
        display: block;
    }

    .logo-container{
        margin: auto;
        margin-left: 78px;
    }

    .time-container{
        width: 390px;
        margin-left: 34px;
        margin-top: -14px;
    }

    .time {
        margin-left: 25px;
    }

    .time-boxes {
        width: 60px;
    }

    #time-subtext{
        font-size: 15px;
    }

    #am-pm{
        font-size: 1.8rem;
    }

    .box1{
        width: 310px;
        top: 120px;
    }

    .box2{
        width: 250px;
        top: 140px;
    }

    

    .time-set{
        display: block !important;
        margin: auto;
        margin-top: 45px;
        margin-left: 6px;
    }

    .option-times{
        margin-right: 0;
        width: 435px;
        padding: 6px;
    }

    #timestamps{
        width: 131px;
        background-position-x: 108px;
        
    }

    
    .lunch-img{
        height: 515px;
        width: 415px;
        font-size: 1rem;
        top: 460px;
        left: 7px;
    }

    .lunch-img > img{
        height: 425px !important;
        width: 400px !important;
        margin-top: 104px;
    }

    .message{
        margin-left: 10px;
        width: 380px;
        font-size: 2rem;
    }

    .party{
        margin-left: 10px;
        width: 220px;
        font-size: 1.5rem;
    }
}


@media screen and (min-width:768px) and (max-width:1024px) {
    
   
    .main-container{
        margin: 0;
     }
 
     header{
         display: block;
     }
 
     .logo-container{
         margin: auto;
         margin-left: 230px;
     }
 
     .time-container{
         width: 552px;
         margin-left: 80px;
         margin-top: -14px;
     }
 
     .time {
         margin-left: 25px;
     }
 
     .time-boxes {
         width: 83px;
     }
 
     #time-subtext{
         font-size: 22px;
     }
 
     #am-time{
         font-size: 1.8rem;
     }
 
     .box1{
         width: 370px;
         top: 123px;
     }
 
     .box2{
         width: 290px;
         top: 145px;
     }
 
     
 
     .time-set{
         display: block !important;
         margin: auto;
         margin-top: 46px;
         margin-left: 72px;
     }
 
     .option-times{
         margin-right: 0;
         width: 550px;
         padding: 15px;
         font-size: 2rem;
     }
 
     #timestamps{
         width: 131px;
         background-position-x: 108px;
         
     }
 
     
     .lunch-img{
         height: 515px;
         width: 600px;
         font-size: 1rem;
         top: 460px;
         left: 62px;
     }
 
     .lunch-img > img{
         height: 480px !important;
         width: 500px !important;
         margin-top: 55px;
         margin-left: 25px;
     }
 
     .message{
         margin-left: 70px;
         width: 550px;
         font-size: 2rem;
     }
 
     .party{
         margin-left: 70px;
         width: 299px;
         font-size: 1.5rem;
     }

}